@lost gutter rem(16);
@lost flexbox flex;

@custom-media --screenSmallOnly (max-width: 499px);
@custom-media --screenMediumUp (min-width: 500px);
@custom-media --screenMediumOnly (max-width: 739px);
@custom-media --screenLargeUp (min-width: 740px);

:root {
  /* Fonts */
  --fontPrimary: "Inknut Antiqua", TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  --fontSecondary: "Roboto Mono", monospace;

  /* Colors */
  --colorBackground: #16191b;
  --colorAccent: white;
  --colorFont: white;
  --colorFontLight: color(var(--colorFont) alpha(0.4));
  --colorRule: color(white alpha(0.05));
  --colorWash: color(white alpha(0.03));
  --colorListeningAnimation: #1A1E21;

  /* Misc. */
  --maxWidth: 1020px;
}
